@page "/"
@{
    ViewBag.Title = "Home";
}
<div class="container nav-container">
    <div class="row justify-content-right">
        <div class="col">
            <ul class="nav ml-auto">
                <li class="nav-item"><a href="~/" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="~/code-of-conduct" class="nav-link">Code of conduct</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container logo-container">
    <div class="row justify-content-center">
        <div class="col-6">
            <img class="img-fluid" src="/images/logo.png" alt="Info Support Hacktober Fest">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Join us on 23 Oct - 24 Oct</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col mt-4">
            <p class="lead">
                Because we believe in the power of collaboration and open-source software we're contributing back to 
                some of the projects that we love! Help us design new features, write documentation, or fix bugs for 
                some of the most popular projects on Github!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-fluid">
            <a class="btn btn-lg btn-primary" href="https://organize.mlh.io/participants/events/5188-info-support-hacktoberfest-hackathon">Join us!</a>
        </div>
    </div>                                
</div>

<div class="container steps-container">
    <div class="row mb-4">
        <div class="col"><h2 class="text-center">Registered? Get ready for the hackathon!</h2></div>
    </div>
    <div class="row mb-4 justify-content-center">
        <div class="col-fluid">
            <ol>
                <li>Are you living in the Netherlands? Order your survival kit.</li>
                <li>Join us on twitter, use <a href="https://twitter.com/search?q=%23hacktoberfest2020">#hacktoberfest</a> and follow <a href="https://twitter.com/infosupportbv">@@infosupportbv</a> to stay up to date.</li>
                <li>Check the projects on this page to learn how to set up your development environment.</li>
            </ol>
        </div>
    </div>
    <div class="row mb-4 justify-content-center">
        <a class="btn btn-lg btn-primary" href="https://forms.office.com/Pages/ResponsePage.aspx?id=oRFtMye8mUmk4DpuwzZ1sIljBRy7q_9AmsxBF2J89sVUNlVEWkxLWTA5REFZM1VQSjFEWFpCN0dDRS4u">Order your survival kit</a>
    </div>
</div>

<div class="container projects-container">
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-center">Projects we support</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck mb-2">
            <div class="card">
                    <img src="/images/logo-dotnet.png" alt="Dapr" class="border-bottom card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dot.net/">.NET Core</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/logo-dapr.png" alt="Dapr" class="border-bottom card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dapr.io/">Dapr</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/logo-maven.png" alt="Maven" class="border-bottom card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://maven.apache.org">Maven</a></h5>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/logo-stryker.png" alt="Stryker mutation testing" class="border-bottom card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://stryker-mutator.io/">Stryker</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-center">This event is organized by these open source fanatics</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck">                
                <div class="card">
                    <div class="ribbon-wrapper">
                        <div class="ribbon blue"><a href="https://mvp.microsoft.com/en-us/PublicProfile/5001823?fullName=Edwin%20van%20Wijk">MVP</a></div>
                    </div>
                    <img src="/images/edwin-van-wijk.jpg" alt="Edwin van Wijk" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Edwin van Wijk</h5>
                        <div class="card-text">Principal Architect, DAPR Expert</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ribbon-wrapper">
                        <div class="ribbon red"><a href="https://developer.oracle.com/ambassador/">GBRKR</a></div>
                    </div>
                    <img src="/images/maarten-mulders.jpg" alt="Maarten Mulders" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Maarten Mulders</h5>
                        <div class="card-text">Software Architect, Maven committer</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/martin-kanters.png" alt="Martin Kanters" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Martin Kanters</h5>
                        <div class="card-text">Senior Software Engineer, Maven committer</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/nico-jansen.jpg" alt="Nico Jansen" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Nico Jansen</h5>
                        <div class="card-text">Software Architect, Stryker maintainer</div>
                    </div>
                </div>
                <div class="card">
                    <div class="ribbon-wrapper">
                        <div class="ribbon blue"><a href="https://mvp.microsoft.com/en-us/PublicProfile/5001824?fullName=Willem%20Meints">MVP</a></div>
                    </div>
                    <img src="/images/willem-meints.png" alt="Willem Meints" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Willem Meints</h5>
                        <div class="card-text">Technology Advocate, Deep Learning Expert</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="container footer-container">
    <div class="row">
        <div class="col">
            <small>Copyright Info Support 2020.</small>
        </div>
    </div>
</div>
