@page "/"

<div class="container logo-container">
    <div class="row justify-content-center">
        <div class="col-8">
            <img class="img-fluid" src="/images/logo.png" alt="Info Support Hacktober Fest">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Join us live on October 23, and October 24!</h1>
            <p>We'll be working on fixing bugs in some of our favorite open source projects. Best of all, we'll be streaming our work live from Youtube!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>This event is organized by these open source fanatics</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <div class="card">
                    <img src="/images/edwin-van-wijk.jpg" alt="Edwin van Wijk" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">Edwin van Wijk</div>
                        <div class="card-text">Principal Architect, DAPR Expert</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/maarten-mulders.jpg" alt="Maarten Mulders" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">Maarten Mulders</div>
                        <div class="card-text">Software Architect, Maven maintainer</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/martin-kanters.png" alt="Martin Kanters" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">Martin Kanters</div>
                        <div class="card-text">Lead Developer, Maven maintainer</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/nico-jansen.jpg" alt="Nico Jansen" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">Nico Jansen</div>
                        <div class="card-text">Software Architect, Stryker maintainer</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/willem-meints.png" alt="Willem Meints" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">Willem Meints</div>
                        <div class="card-text">Technology Advocate, Deep Learning Expert</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
