<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Info Support Hacktoberfest hackathon"/>
    <meta property="og:description" content="Info Support is organizing an online hackathon as part of the Hacktoberfest initiative. We'll be hacking on various open source projects. Watch the live stream!"/>
    <meta property="og:url" content="https://hacktoberfest.infosupport.com"/>
    <meta property="og:site_name" content="Info Support Hacktoberfest Hackathon"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:description" content="Info Support is organizing an online hackathon as part of the Hacktoberfest initiative. We'll be hacking on various open source projects. Watch the live stream!"/>
    <meta property="twitter:title" content="Info Support Hacktoberfest Hackathon"/>
    <title>Info Support Hacktoberfest Hackathon</title>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
    @RenderBody()
</body>
</html>
